* {
  font-family: 'Montserrat', sans-serif;
}

body, html{
  padding:0;
  margin:0;
}

.heroBackground {
  background-image: url("../assets/images/hero.gif");
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 1px;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 150px 20px 60px;
}

.menuLogo {
  width: 50px;
  height: 35px;
}

.menuItem {
  font-weight: 200;
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.menuItemButton {
  padding: 7px 14px;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 0px;
  display: inline-block;
}

.formWrapper {
  display: flex;
  flex-direction: row-reverse;
  padding: 45px 0px;
}

.form {
  background-color: white;
  width: 410px;
  padding: 30px 50px;
  color: #728099;
}

.formTitle {
  color: #352384;
}

.formSubtitle {
  color: #352384;
}

.formInput {
  border-bottom: 1px solid #352384;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 14px;
  font-weight: 200;
  padding-bottom: 5px;
  width: 100%;
  margin-bottom: 20px;
}

.formSmallLetters {
  font-size: 11px;
}

.formButton {
  background-color: #FF00BF;
  border-radius: 7px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 200;
  border: none;
  color: white;
}

.formLink {
  margin-left: 20px;
  text-decoration: underline;
}

.gradientBackground {
  background: linear-gradient(#76278F , #2B1E66);
  box-shadow: 0px 0px 70px 70px #76278f;
  width: 100%;
}

.appSection {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 60px 150px;
}

.appSectionText {
  color: white;
  padding: 1px;
}

.appSectionTextParagraph {
  margin: 5px 0;
  font-weight: 200;
  font-size: 14px;
}

.videoSection {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
}

.videoSectionHeader {
  margin: 0px;
  font-size: 26px;
}

.videoSectionTextWrapper {
  padding: 20px 40px;
  color: black;
  width: 500px;
}

.footer {
  background-color: #333447;
  width: 100%;
  padding: 60px 250px 40px 150px;
  box-sizing: border-box;
  color: white;
}

.footerListsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footerList {
  list-style-type: none;
  margin: 0;
  padding: 0px;
}

.footerListItem {
  font-weight: 200;
  margin-top: 30px;
  font-size: 14px;
}

.footerListItem:hover {
  color: #FF00BF;
  cursor: pointer;
}

.footerBottom {
  margin: 60px 0 0 100px;
  text-align: center;
}

.footerBottomSocialMidia {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 20px auto;
}

.footerBottomCopyRight {
  font-size: 12px;
  font-weight: 200px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-10 {
  margin-top: 10px;
}
