/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body, html{
  padding:0;
  margin:0;
}

.header-background {
  background-image: url("../assets/images/hero.gif");
  background-position: center center;
  background-size: 100%;
  padding: 1px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px 20px 60px;
}

.menu__logo {
  width: 50px;
  height: 35px;
}

.menu__link {
  font-weight: 200;
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.menu__link--button {
  padding: 7px 14px;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 0px;
  display: inline-block;
}

.form-container {
  display: flex;
  justify-content: flex-end;
  padding: 45px 0px;
}

.form {
  background-color: white;
  width: 510px;
  padding: 30px 50px;
  color: #728099;
}

.form__title {
  color: #352384;
}

.form__subtitle {
  color: #352384;
}

.form__input {
  border-bottom: 1px solid #352384;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 14px;
  font-weight: 200;
  padding-bottom: 5px;
  width: 100%;
  margin-bottom: 20px;
}

.form__small {
  display: block;
  font-size: 11px;
}

.form__submit {
  background-color: #FF00BF;
  border-radius: 7px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 200;
  border: none;
  color: white;
}

.form__link {
  margin-left: 20px;
  text-decoration: underline;
}

.about{
  background: linear-gradient(#76278F , #2B1E66);
  box-shadow: 0px 0px 70px 70px #76278f;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 60px 150px;
  color: white;
}

.about__title {
  margin: 5px 0;
  font-weight: 200;
  font-size: 14px;
}

.about__text {
  margin: 5px 0;
  font-weight: 200;
  font-size: 14px;
}

.video-container {
  display: flex;
  background-color: white;
}

.video-description {
  padding: 20px 40px;
  color: black;
  width: 500px;
}

.video-description__title {
  margin: 0px;
  font-size: 26px;
}

.footer {
  background-color: #333447;
  width: 100%;
  padding: 60px 250px 40px 150px;
  color: white;
}

.site-map {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.site-map__item {
  font-weight: 200;
  margin-top: 30px;
  font-size: 14px;
}

.site-map__item:hover {
  color: #FF00BF;
  cursor: pointer;
}

.footer__bottom-container {
  margin: 60px 0 0 100px;
  text-align: center;
}

.footer__social-midia {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 20px auto;
}

.footer__copy-right {
  font-size: 12px;
  font-weight: 200px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-30 {
  margin-top: 30px;
}
